@font-face {
  font-family: 'aganregular';
  src: url('../fonts/agane_roman-webfont.woff2') format('woff2'),
  url('../fonts/agane_roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aganlight';
  src: url('../fonts/aganelight-webfont.woff2') format('woff2'),
  url('../fonts/aganelight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aganextra_bold';
  src: url('../fonts/agane_extra_bold-webfont.woff2') format('woff2'),
  url('agane_extra_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aganbold';
  src: url('../fonts/agane_bold-webfont.woff2') format('woff2'),
  url('../fonts/agane_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


body {
  background-color: white;
  color: #000000 !important;
}

.bg-dark {
  background-color: #2e2e2e;
}

.bg-white {
  background-color: #ffffff;
}

.bg-footer{
  background-color: #706F6F;
}

.agane-light {
  font-family: 'aganlight' !important;
}

.agane-regular {
  font-family: 'aganregular' !important;
}

.agane-bold {
  font-family: 'aganbold' !important;
}

.agane-extra {
  font-family: 'aganextra_bold' !important;
}

.white-color {
  color: #ffffff !important;
}
.dark-color{
  color: #878787;
}

.gray-color{
  color: #575756;
}


.fs_90{
  font-size: 90px !important;
}

.fs_80{
  font-size: 80px !important;
}

.fs_70{
  font-size: 70px !important;
}
.fs_60{
  font-size: 60px !important;
}
.fs_55{
  font-size: 55px !important;
}
.fs_50{
  font-size: 50px !important;
}
.fs_45{
  font-size: 45px !important;
}
.fs_40{
  font-size: 40px !important;
}
.fs_35{
  font-size: 35px !important;
}

.fs_30{
  font-size: 30px !important;
}
.fs_28{
  font-size: 28px !important;
}
.fs_26{
  font-size: 26px !important;
}
.fs_24{
  font-size: 24px !important;
}
.fs_22{
  font-size: 22px !important;
}
.fs_20{
  font-size: 20px !important;
}
.fs_18{
  font-size: 18px !important;
}
.fs_16{
  font-size: 16px !important;
}

.fs_15{
  font-size: 15px !important;
}
.fs_14{
  font-size: 14px !important;
}
.fs_13{
  font-size: 13px !important;
}
.fs_12{
  font-size: 12px !important;
}
.upper {
  text-transform: uppercase;
}

.line-height_10 {
  line-height: 10px;
}

.line-height_15 {
  line-height: 15px;
}

.line-height_20 {
  line-height: 20px;
}

.line-height_25 {
  line-height: 25px;
}

.line-height_30 {
  line-height: 30px;
}
.line-height_35 {
 
  line-height: 35px;
}

.line-height_40 {
  line-height: 40px;
}

.line-height_45 {
  line-height: 45px;
}

.line-height_50 {
  line-height: 50px;
}

.line-height_60 {
  line-height: 60px;
}

.line-height_65 {
  line-height: 65px;
}

//Nav bar settings

.header-list li:last-child {
  width: 110px;
}

.nav-site .nav-item a {
  vertical-align: middle;
  padding-top: 20px;
  position: relative;
  display: inline-block;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://w…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.header-list li {
  display: inline-block;
}

//Footer

.footer-list {
  list-style: none;
  color: #ffffff;
}

ul.footer-list li:first-child {
  display: block;
  vertical-align: middle;
}

ul.footer-list li span {
  vertical-align: middle;
}

ul.footer-list {
  padding: 0 !important;
}

.description-bg{
  background-image: url("../images/background-mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
}

//Iconography

.logo-tour {
  background-image: url("../images/logo.jpg");
  width: 100px;
  height: 71px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  vertical-align: middle;
}

.icon-phone {
  background-image: url("../images/svg/icon-phone_white.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  width: 28px;
  height: 28px;
  display: inline-block;
}

.icon-mail {
  background-image: url("../images/svg/icon-mail_white.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  width: 28px;
  height: 28px;
  display: inline-block;
}

.icon-fb_white {
  background-image: url("../images/svg/icon-fb_white.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  width: 28px;
  height: 28px;
  display: inline-block;
}

.icon-ig_white {
  background-image: url("../images/svg/icon-ig_white.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  width: 28px;
  height: 28px;
  display: inline-block;
}

.icon-yt_white {
  background-image: url("../images/svg/icon-yt_white.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  width: 28px;
  height: 28px;
  display: inline-block;
}


.icon-fb_blue {
  background-image: url("../images/svg/icon-fb_blue.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  width: 28px;
  height: 28px;
  display: inline-block;
}

.icon-ig_blue {
  background-image: url("../images/svg/icon-ig_blue.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  width: 28px;
  height: 28px;
  display: inline-block;
}

.icon-yt_blue {
  background-image: url("../images/svg/icon-yt_blue.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  width: 28px;
  height: 28px;
  display: inline-block;
}