@font-face {
  font-family: 'aganregular';
  src: url("../fonts/agane_roman-webfont.woff2") format("woff2"), url("agane_roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aganlight';
  src: url("aganelight-webfont.woff2") format("woff2"), url("aganelight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aganextra_bold';
  src: url("agane_extra_bold-webfont.woff2") format("woff2"), url("agane_extra_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aganbold';
  src: url("agane_bold-webfont.woff2") format("woff2"), url("agane_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: white;
  color: #000000 !important; }

.bg-dark {
  background-color: #2e2e2e; }

.bg-white {
  background-color: #ffffff; }

.bg-footer {
  background-color: #706F6F; }

.white-color {
  color: #ffffff !important; }

.dark-color {
  color: #000000; }

.fs_16 {
  font-size: 16px !important; }

.fs_15 {
  font-size: 15px !important; }

.fs_14 {
  font-size: 14px !important; }

.fs_13 {
  font-size: 13px !important; }

.fs_12 {
  font-size: 12px !important; }

.upper {
  text-transform: uppercase; }
