@charset "UTF-8";
@font-face {
  font-family: 'aganregular';
  src: url("../fonts/agane_roman-webfont.woff2") format("woff2"), url("../fonts/agane_roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aganlight';
  src: url("../fonts/aganelight-webfont.woff2") format("woff2"), url("../fonts/aganelight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aganextra_bold';
  src: url("../fonts/agane_extra_bold-webfont.woff2") format("woff2"), url("agane_extra_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aganbold';
  src: url("../fonts/agane_bold-webfont.woff2") format("woff2"), url("../fonts/agane_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: white;
  color: #000000 !important; }

.bg-dark {
  background-color: #2e2e2e; }

.bg-white {
  background-color: #ffffff; }

.bg-footer {
  background-color: #706F6F; }

.agane-light {
  font-family: 'aganlight' !important; }

.agane-regular {
  font-family: 'aganregular' !important; }

.agane-bold {
  font-family: 'aganbold' !important; }

.agane-extra {
  font-family: 'aganextra_bold' !important; }

.white-color {
  color: #ffffff !important; }

.dark-color {
  color: #878787; }

.fs_30 {
  font-size: 30px !important; }

.fs_28 {
  font-size: 28px !important; }

.fs_26 {
  font-size: 26px !important; }

.fs_24 {
  font-size: 24px !important; }

.fs_22 {
  font-size: 22px !important; }

.fs_20 {
  font-size: 20px !important; }

.fs_18 {
  font-size: 18px !important; }

.fs_16 {
  font-size: 16px !important; }

.fs_15 {
  font-size: 15px !important; }

.fs_14 {
  font-size: 14px !important; }

.fs_13 {
  font-size: 13px !important; }

.fs_12 {
  font-size: 12px !important; }

.upper {
  text-transform: uppercase; }

.nav-site .nav-item a {
  padding-top: 20px; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://w…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.footer-list {
  list-style: none;
  color: #ffffff; }

.logo-tour {
  background-image: url("../images/logo.jpg");
  width: 100px;
  height: 71px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  vertical-align: middle; }
